@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'Coinbase Sans';
    src: url('/src/assets/fonts/Coinbase_Sans-Extra_Light-web-1.32.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Coinbase Sans';
    src: url('/src/assets/fonts/Coinbase_Sans-Light-web-1.32.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Coinbase Sans';
    src: url('/src/assets/fonts/Coinbase_Sans-Regular-web-1.32.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Coinbase Sans';
    src: url('/src/assets/fonts/Coinbase_Sans-Medium-web-1.32.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Coinbase Sans';
    src: url('/src/assets/fonts/Coinbase_Sans-Bold-web-1.32.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: 'Coinbase Sans', sans-serif;
    --font-size: 16px;
    --color-primary: #4b40ee;
    --color-success: #67bf6b;
    --color-error: #f54940;
    --color-text-primary: #1a243a;
    --color-text-secondary: #6f7177;
    --color-text-tertiary: #bdbebf;
    --color-background: #ffffff;
}

.dark {
    --color-primary: #828cff;
    --color-success: #4aa350;
    --color-error: #ff5b4f;
    --color-text-primary: #d0defc;
    --color-text-secondary: #9c9ea5;
    --color-text-tertiary: #626364;
    --color-background: #0b0f18;
}